# ----- GENERAL CONFIG -----
NODE_ENV=development # Set to production if in prod
PORT=8080
COMMON_FOLDER=./common/
CERT_NAME=server.crt
PRIVATE_KEY_NAME=server.key
BEARER_TOKEN_SECRET=yourSecretHere # IMPORTANT!!! CHANGE THIS STRING WITH AN UUID. THIS IS USING AS A SECRET FOR JWT TOKEN GENERATION.
RUNNING_TEST_SCENARIOS=false # Just for unitary testing, keep it always to false on prod. This disables auth & role check.
ALLOWED_EMAIL_DOMAINS="gmail, uoc" # Email domains that we allow to log in into the page
ENABLE_EMAIL_SENDING=false # Always to true on production

# ----- NODEMAILER LIBRARY CONFIG -----
NODEMAILER_SERVICE="gmail"
NODEMAILER_USER="yourEmailHere@gmail.com"
NODEMAILER_PASSWORD="yourPasswordHere"
# NODEMAILER_HOST=""
# NODEMAILER_PORT=465
# NODEMAILER_SECURE=false
# NODEMAILER_TLS_REJECTUNAUTHORIZED=false

# According to NodeMailer docs, you can define the previously info (host, port...) or use the "service" option that
# automatically knows which config put for that provider.
# You shouldn't mix both ways of handling the config.

# Check implementation on authHandler.ts class

# For further information see: https://www.nodemailer.com/smtp/